:root {
    --first-color: #FF4772;
    --second-color: #E8FFB7;
    --third-color: #470066;
    --fourth-color: #0CCBE9;
    --fifth-color: #B7FFD8;
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Zetta', sans-serif;
}

body {
    background-color: var(--first-color);
}

.header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--first-color);
}

.header__img {
    width: 100px;
    height: 100px;
    margin: .5rem;
    cursor: pointer;

}
/* BEM block element modifier */

.header__menu ul {
    list-style: none;
    width: 100px;
    padding: 0;
    position: absolute;
    top: 100px;
    right: 20px;
    display: none;
    text-align:right;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu ul li a {
    text-decoration: none;
    color: black;
    letter-spacing: -0.3rem;
}

.header__menu ul li a:hover, .header__menu--profile p:hover {
    color: var(--second-color);
}

.header__menu--profile {
    display: flex;
    height: 100%;;
    align-items: center;
    margin: .5rem 1rem 0 0;
    cursor: pointer;
}

.header__menu--profile img {
    margin-right: 1rem;
    width: 50px;
}

.header__menu--profile p {
    font-weight: bold;
    letter-spacing: -0.3rem;
}

.main {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 180deg, var(--first-color), var(--fourth-color));
}

.main__title {
    text-align: center;
}

.main__input {
    width: 70%;
    max-width: 600px;
    padding: 1rem;
    margin: 1rem;
    border: 0rem;
    border-radius: 20px;
    outline: none;
}

.carousel {
    width: 100%;
    overflow: scroll;
    padding: 0 1rem;
    position: relative;
    background-color: var(--fourth-color) ;
}

.carousel__container {
    white-space: nowrap;
    margin: 3rem 0;
    padding-bottom: 1rem;
}

.carousel--item {
    display: inline-block;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    margin: 0 1rem;
    overflow: hidden;
    background-color: var(--third-color);
    cursor: pointer;
    transition: 450ms ease;
    transform-origin: center left;
    position: relative;
}

.carousel--item:hover ~ .carousel--item {
   transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel--item {
    opacity: 0.9;
}

.carousel__container:hover .carousel--item:hover {
    transform: scale(1.2);
    opacity: 1;
}

.carousel--item__img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.carousel--item__details {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0% , var(--third-color) 90%);
    font-size: 1rem;
    opacity: .8;
    transition: 450ms opacity;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color:#FFF;
    padding: 0 0 1rem .5rem;
}

.carousel--item__details--icon {
    width: 10px;
    height: 10px;
}

.carousel--item__details--title {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: sans-serif;
    
}

.carousel--item__details--subtitle {
    font-size: .8rem;
    font-family: sans-serif;
}

.carousel--item__details:hover {
    opacity: 1;
}

/* Scroll carousel */

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  ::-webkit-scrollbar {
    width: 8px; 
    height: 8px;   
    background:rgba(255,255,255,.4);
    border-radius: 4px;
  }
  ::-webkit-scrollbar:hover {
    background: #b3b3b3;
    box-shadow: 002px1pxrgba(0, 0, 0, 0.2);
  }
  ::-webkit-scrollbar:hover:active {
    background: #999;
  }

/* LOGIN SIGN UP PAGES  */

.login, .signup {
    background-color: var(--first-color);
    min-height: calc(94vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin: 0;
}
.login__container, .signup__container {
    background: linear-gradient(0deg, var(--second-color), var(--fifth-color));
    border-radius: 30px;
    min-height: 450px;
    width: 300px;
    padding: 2rem 1.5rem;
    display: inherit;
    flex-direction: column;
}

.login__container h2, .signup__container h2 {
    text-align: center;
    margin-bottom: .5rem;
}

.login__container p, .signup__container p {
    text-align: center;
    font-size: 1rem;
}


.login__container--form, .signup__container--form {
    display: flex;
    flex-direction: column;

}
.login__container--form > input, .signup__container--form > input {
    border-radius: 10px;
    margin: .5rem 0;
    padding: .5rem;
    outline: none;
    border: none;
}

.login__container--form input:focus, .signup__container input:focus {
    border: solid 2px black ;
}


.login__container--form .btn, .signup__container--form .btn {
    margin: .8rem auto;
    min-width: 170px;
    padding: .7rem 0;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: var(--fourth-color);
    outline: none;
}

.login__container--form .btn:hover, .signup__container--form .btn:hover {
    background-color:var(--fifth-color);
    border: solid 2px black;
}

.login__container--remember {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: .8rem;
    margin: .5rem;

}

.login__container--remember > label {
    display: flex;;
    align-items: center;
}

.login__container--remember a {
    text-decoration: none;
    color:black;
    margin: 0 .3rem;
}

.login__container--social--media div , .signup__container--social--media div {
    padding: .5rem;
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 1rem;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    border:1px solid rgba(0, 0, 0, 0.075) ;
}
.login__container--social--media div img, .signup__container--social--media div img {
    margin-right: .4rem;
}
.login__container--social--media .google, .signup__container--social--media .google {
    margin-top: .3rem;
    margin-bottom: .5rem;
}

.login__container--social--media div:hover, .signup__container--social--media div:hover {
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 15px;
    border:1px solid black;
}

.login__container--register,
.signup__container--register {
    margin-top: 2rem;
}

.login__container--social--media p,
.signup__container--social--media p, 
.login__container--remember a,
.login__container--remember label,
.login__container--register,
.signup__container--register,
.signup__container--register a,
.login__container--register a {
    font-family: sans-serif;
    color: black;
    text-decoration: none;
}

.login__container--register a,
.signup__container--register a {
    font-weight: bold;
}

.login__container--register a:hover,
.signup__container--register a:hover,
.login__container--remember___password:hover {
    text-decoration: underline;
}

.footer {
    height: 6vh;
    background-color: var(--first-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: .5rem 0 .5rem .5rem;
}
.footer a {
    color: black;
    text-decoration: none;
    margin-right: 2.5rem;
}

.footer a:hover {
    font-weight: bold;
}

/* Not FOUND */

.notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
}

.notfound p {
    font-size: 1rem;
}

.notfound h1 {
    font-size: 2rem;
    font-weight: bold;
}
.notfound a {
    margin: 1rem;
}

.wobble {
  animation-name: wobble;
}

@keyframes wobble {
    0% {transform: translateX(0%);}
    15% {transform: translateX(-25%) rotate(-5deg);}
    30% {transform: translateX(20%) rotate(3deg);}
    45% {transform: translateX(-15%) rotate(-3deg);}
    60% {transform: translateX(10%) rotate(2deg);}
    75% {transform: translateX(-5%) rotate(-1deg);}
    100% {transform: translateX(0%);}
  }

  .animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  

/* MEDIA QUERIES */


@media only screen and (max-width: 600px) {

    .footer {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footer a {
        margin: 0;
        margin-bottom: .4rem ;
    }
}

