<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="../src/catfinderlogo.svg" alt="CatFinder Logotipo">
        <div class="header__menu">
            <div class="header__menu--profile">
                <img src="../src/profile-bw.png" alt="User icon">
                <p>Profile</p>
            </div>
            <ul>
                <li><a href="/">Saved pics</a></li>
                <li><a href="/">Settings</a></li>
                <li><a href="/">Log out</a></li>
            </ul>
        </div>
    </header>
</body>
</html>